<!DOCTYPE html>
<html>
<head>
  <title>Página protegida</title>
  <link rel="stylesheet" type="text/css" href="/css/protected.css">
</head>
<body>
  <h1 id="select-language-title">Choose a target language:</h1>
  <select id="select-language">
  </select>
  <script>
    // Realiza una solicitud AJAX para obtener la lista de lenguajes desde tu backend
    fetch('/obtener-lenguajes-soportados')
      .then(response => response.json())
      .then(data => {
        const selectLanguage = document.getElementById('select-language');

        if (Array.isArray(data)) {
          data.forEach(language => {
            const option = document.createElement('option');
            option.value = language.code;
            option.text = `${language.name} (${language.code})`; // Mostrar nombre y código
            selectLanguage.appendChild(option);
            console.log(`Añadida opción: ${language.name} (${language.code})`);
          });

          // Agregar un evento de cambio al selector de idioma
          selectLanguage.addEventListener('change', function () {
            const selectedLanguage = selectLanguage.value;
            const selectedLanguageName = data.find(lang => lang.code === selectedLanguage)?.name;
            console.log(`Idioma seleccionado: ${selectedLanguageName}`);
            console.log(`Código de idioma seleccionado: ${selectedLanguage}`);

            document.getElementById('selectedLanguageCode').value = selectedLanguage;
            document.getElementById('selectedLanguageName').value = selectedLanguageName;

            // Verifica si el idioma seleccionado es diferente al español (código 'es')
            if (selectedLanguage !== 'es') {
              // Cambia el formulario de acción al endpoint '/trivia-traduce'
              document.getElementById('trivia-form').action = '/trivia-traduce';
            } else {
              // Restaura el formulario de acción al endpoint '/trivia'
              document.getElementById('trivia-form').action = '/trivia';
            }

          });
        } else {
          console.error('La respuesta no es un array de lenguajes:', data);
        }
      })
      .catch(error => {
        console.error('Error al obtener la lista de lenguajes:', error);
      });
  </script>
  <div class="ranking-container">
    <div class="ranking beginner-ranking">
      <h3>Ranking Principiante</h3>
      <table>
        <thead>
          <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <% beginner_ranking.each_with_index do |ranking, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= ranking.user.username %></td>
              <td><%= ranking.score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="ranking difficulty-ranking">
      <h3>Ranking Experto</h3>
      <table>
        <thead>
          <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <% difficult_ranking.each_with_index do |ranking, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= ranking.user.username %></td>
              <td><%= ranking.score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h1>¡Hola <%= @username %>!, esta es la página protegida.</h1>
  <p>La autenticación fue correcta. ¡Que comience el juego!</p>
  <form id="trivia-form" method="post" action="/trivia">
    <h2>Seleccione la dificultad de la trivia para continuar:</h2>
    <div class="button-container">
      <button class="button" name="difficulty" value="beginner">Principiante</button>
      <button class="button" name="difficulty" value="difficult">Experto</button>
    </div>
    <input type="hidden" name="selectedLanguageCode" id="selectedLanguageCode" value="">
    <input type="hidden" name="selectedLanguageName" id="selectedLanguageName" value="">
  </form>
  <form action="/" method="get">
    <button class="button" id="logout-button" type="submit">Salir</button>
  </form>
</body>
</html>
