<!DOCTYPE html>
<html>
<head>
  <title>Pregunta</title>
  <link rel="stylesheet" type="text/css" href="/css/question.css">
  <!-- Importación de librería JS para implementar el temporizador -->
  <script src="/js/jquery-3.6.0.js"></script>
  <!-- Toastify para help -->
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <!-- Código JavaScript para manejar la validación de la selección de respuesta -->
  <script>
    function validateForm() {
      var selectedOption = document.querySelector('input[name="selected_answer"]:checked');
      var timeRemaining = parseInt($('#timer').text());

      if (!selectedOption && timeRemaining > 0) {
        // Si no se seleccionó ninguna opción y todavía hay tiempo restante, mostrar mensaje de alerta
        showMessage("Debe seleccionar una respuesta antes de continuar.");
        return false;
      }
      // Si se cumple la validación existente, se asigna selected_answer como null
      if (!selectedOption) {
        document.querySelector('input[name="selected_answer"]').value = null;
      }
      // Obtener el tiempo restante del temporizador
      var timeRemaining = parseInt($('#timer').text());

      // Establecer el tiempo de respuesta en el campo oculto
      $('#response_time').val(timeRemaining);
      return true;
    }

    function showMessage(message) {
      var overlay = document.createElement("div");
      overlay.classList.add("overlay");

      var messageContainer = document.createElement("div");
      messageContainer.classList.add("message-container");
      messageContainer.innerHTML = `
        <div class="message-box">
          <p>${message}</p>
          <button id="entendido-btn" class="button-style">Entendido</button>
        </div>
      `;
      overlay.appendChild(messageContainer);
      document.body.appendChild(overlay);

      var entendidoBtn = document.getElementById("entendido-btn");
      entendidoBtn.addEventListener("click", function() {
        overlay.remove();
      });
    }

    function startTimer(duration, display) {
      var timerContainer = document.getElementById("timer-container");
      var timer = duration, seconds;
      var triviaDifficultyLevel = "<%= @trivia.difficulty.level%>";
      timerContainer.className = "green";
      var intervalId = setInterval(function () {
        seconds = parseInt(timer % 60, 10);
        display.text(seconds);
        timer--;
        if (triviaDifficultyLevel == "beginner") {
          if (timer >= 10) {
            timerContainer.className = "green";
          } else if (timer >= 5) {
            timerContainer.className = "yellow";
          } else if (timer >= 0) {
            timerContainer.className = "red";
          } else {
            clearInterval(intervalId);
            showTimeUpMessage();
          }
        } else if (triviaDifficultyLevel == "difficult") {
          if (timer >= 7) {
            timerContainer.className = "green";
          } else if (timer >= 4) {
            timerContainer.className = "yellow";
          } else if (timer >= 0) {
            timerContainer.className = "red";
          } else {
            clearInterval(intervalId);
            showTimeUpMessage();
          }
        }
      }, 1000);
    }

    $(document).ready(function () {
      var timeLimit = parseInt($("#timer-container").data("time-limit-seconds"));
      var display = $("#timer");
      startTimer(timeLimit, display);
    });

    var isHelpVisible = false;

    function showHelp(helpText) {
      if (isHelpVisible) {
        return;
      }
    
      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }

      Toastify({
        text: helpText,
        duration: 3000,
        position: 'left',
        close: true,
        backgroundColor: getRandomColor(),
        style: {
          fontSize: '20px',
          minWidth: '200px',
          maxWidth: '70%',
        },
        callback: function() {
          isHelpVisible = false;
        }
      }).showToast();

      isHelpVisible = true;
    }
  </script>
</head>
<body>
  <h1>Pregunta <%= @question_index + 1 %> :</h1>
  <% if @question %>
    <p><%= @question['text']  %></p>
    <h2>Opciones:</h2>
    <form action="/answer-traduce/<%= @question_index %>" method="post" onsubmit="return validateForm()">
      <input type="hidden" name="response_time" id="response_time" value="">
      <input type="hidden" name="trivia_id" value="<%= @trivia.id %>">
      <input type="hidden" name="question_index" value="<%= @question_index %>">
      <% @answers.each do |answer| %>
        <label>
          <div class="answer-container">
            <input type="radio" name="selected_answer" value="<%= answer.id %>"
              <% if answer.id == @selected_answer %>
                checked
              <% end %>
            >
            <span class="answer-text"><%= answer.text %></span>
          </div>
        </label>
      <% end %> <!-- end do -->
      <div id="timer-container" data-time-limit-seconds="<%= @time_limit_seconds %>">
        <span id="timer"></span>
      </div>
      <div class="button-container">
        <button type="submit">Siguiente pregunta</button>
      </div>
      <div class="help-container">
        <% if @help %>
          <button type="button" style="margin-top: 20px;" onClick="showHelp('<%= @help %>')">Mostrar ayuda</button>
        <% end %>
      </div>
  <% end %>
  <div id="message-box-container"></div>
  <script>
    function showTimeUpMessage() {
      var overlay = document.createElement("div");
      overlay.classList.add("overlay");
      var messageContainer = document.createElement("div");
      messageContainer.classList.add("message-container");
      messageContainer.innerHTML = `
        <div class="message-box">
          <p>Se terminó el tiempo, respuesta marcada como incorrecta!</p>
          <button id="entendido-btn" class="button-style" onclick="nextQuestion()">Entendido</button>
        </div>
      `;
      overlay.appendChild(messageContainer);
      document.body.appendChild(overlay);
      var entendidoBtn = document.getElementById("entendido-btn");
      entendidoBtn.addEventListener("click", function () {
        overlay.remove();
        nextQuestion();
      });
    }

    function nextQuestion() {
      document.querySelector("form").submit();
    }
  </script>
</body>
</html>
