<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Resultado</title>
  <link rel="stylesheet" type="text/css" href="/css/results.css">
</head>
<body>
  <div class="container">
    <h1>Bien jugado <%= @user.username %>, has realizado la trivia #<%= @trivia.id %></h1>
    <h2>Resultado total:</h2>

    <% @results.each do |result| @idx += 1 %> <!-- ciclo para cada resultado e indice-->
      <div class="question-result">
        <h3>Pregunta <%=@idx %>:</h3>
        <p><strong><%= result[:question].text %></strong></p>
        <% if result[:selected_answer].present? %>
          <p><strong>Respuesta seleccionada:</strong> <%= result[:selected_answer].text %></p>
        <% else %>
          <p><strong>Respuesta seleccionada:</strong> Ninguna respuesta seleccionada.</p>
        <% end %>
        <% if result[:correct] %>
          <p><strong>Respuesta correcta:</strong> <%= result[:correct_answer].text %></p>
          <p><span class="correct-message">¡Correcto!</span></p> <!-- Se agrega una etiqueta <span> con la clase correct-message -->
        <% else %>
          <p><strong>Respuesta correcta:</strong> <%= result[:correct_answer].text %></p>
           <p><span class="incorrect-message">Incorrecto</span></p> <!-- Se agrega una etiqueta <span> con la clase incorrect-message -->
        <% end %>
      </div>
    <% end %>

    <h2 class="score">Puntaje total: <%= @score %></h2>

    <div class="button-container">
      <a href="/" class="button">Volver a la página principal</a>
    </div>
  </div>
</body>
</html>